@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");


/* Layout css start */

body {
  margin: 0;
  line-height: 1;
  font-family: Karla,sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 1.4rem;
}
#header{
  background: #fff;
  width: 100%;
  height: 60px;
  text-align: center;
  z-index: 99;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
}

.left-header {
  display: flex;
  width: 16%;
}

.middle-header {
  display: flex;
  width: 60%;
}

.right-header {
  display: flex;
  width: 24%;
}

.right-header-icon > .fa {
  color:  #0b6b5e;
}

.right-header-icon {
  margin: 16px;
  padding: 1px;
  cursor: pointer;
}

#sidebar-left{
  float:left;
  width:15%;
  background-color:#35393d;
  margin-top: 81px;
}

#main{
  float:left;
  width:85%;
  background-color:#fff;
  margin-top: 81px;
}

#footer{
  clear:both;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color:#f3f5f8;
}

#sidebar-left, #main{
  min-height: 600px				
}

/* Layout css end */


/* Sidebar css start */

#menu-bar {
  padding: 0;
}
.menu_item {
  padding: 6px 20px;
  color:#38393b;
  list-style-type: none;
  transition: background-color 200ms;
  cursor: pointer;
  margin: 1px;
  padding: 13px;
}

.menu-main-text {
  margin-left: 10px;
}

.menu_item:hover {
  background-color: #0b6b5e;

}
.menu_item a {
  text-decoration: none;
  color: #e3e5e7;
}
.menu_item a:hover {
  background-color: #0b6b5e;
  text-decoration: none;
}
.active {
  font-weight: 600;
  background-color: #0b6b5e;
}

/* Sidebar css start */

.user-label-text {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}  
.user-span-text {
  font-weight: 700;
}

.form-d {
  margin-bottom:20px;
  min-height: 52px;
}